<!-- 
    https://www.youtube.com/watch?v=VB6WuCPDwz0&list=PLqq-6Pq4lTTb7JGBTogaJ8bm7f8VCvFkj&index=25 
    // run project in production mode 
-->

<p>bindings works!</p>
<div>
    <p>
        Interpolation check: {{firstName}}
    </p>
    <p>
        Interpolation check: {{lastName}}
    </p>
    <p>
        Interpolation check: {{test}}
    </p>
</div>

<button (click)='showUser()' >Show User</button>

<div *ngIf='showUserValue' >
    <p>
        {{userObject.name}}
    </p>
    <p>
        {{userObject.designation}}
    </p>
    <p>
        {{userObject.phone}}
    </p>
    
    <div>
        <input type="text" [(ngModel)]="twoWayBinding">
        <p>{{twoWayBinding}}</p>
    </div>

</div>

<input type="text" [(ngModel)]="searchName">
<button (click)= "getData()" >Submit</button>

<div *ngIf="response">
    <p>
        {{response.login}}   
    </p>
    <p>  
        {{response.type}}   
    </p>
    <p>    
        {{response.followers}}
    </p>
    <p>    
        {{response.company}}
    </p>
</div>